[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
PyInquirer = "==1.*"
psutil = "==5.*"
pyudev = "==0.*"

[dev-packages]
coverage = "==7.*"
parameterized = "==0.9.*"
pycodestyle = "==2.*"
pylint = "==3.*"

[requires]
python_version = "3.9"
